//
// Scampi textarea-counter
//
// ---------------------------------------------------------------------------

$textarea-counter-nb-color : $primary-color !default;

.textarea-counter {
  text-align: right;

  .textarea-counter-nb {
    color: $textarea-counter-nb-color;
  }
}
