// SVG Icons
// ---------------------------------------------

.svg-icon {
  width: .875em;
  height: .875em;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -.15em;
}

a {
  .svg-icon {
    text-decoration: none;
  }
}
