// Mixins breakpoints-*
// =======================================================================

// The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.


// breakpoint-next
// ---------------
// Name of the next breakpoint, or null for the last breakpoint.
// @usage:
//         breakpoint-next(sm) => md
//         breakpoint-next(sm, (xs: 0, sm: 544px, md: 768px)) => md
//         breakpoint-next(sm, $breakpoint-names: (xs sm md)) => md

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}


// breakpoint-min
// --------------
// Minimum breakpoint width. Null for the smallest (first) breakpoint.
// @usage:
//          breakpoint-min(sm, (xs: 0, sm: 544px, md: 768px)) => 544px

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}


// breakpoint-max
// --------------
// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
// @usage:
//    breakpoint-max(sm, (xs: 0, sm: 544px, md: 768px)) => 767px

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 0.01em, null);
}


// media-breakpoint-up
// -------------------
// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// media-breakpoint-down
// ---------------------
// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


// media-breakpoint-only
// ---------------------
// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-up($name, $breakpoints) {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}

// media-breakpoint-between
// ------------------------
// Media that spans multiple breakpoint widths.
// Makes the @content apply between the min and max breakpoints
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-up($lower, $breakpoints) {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}


// =======================================================================
// DEV NOTES
// =======================================================================

// ----
// TODO
// ----
//
// * Donner des exemples d'usage pour les trois derniers
// * remplacer les noms des breakpoints par les nôtres
// * remplacer les px par des em dans les exemples
// * Vérifier si on utilise la map $grid-breakpoints. Si oui, indiquer dans quel fichier cette variable est définie ; si non adapter

