//
// Collapse
// --------------------------------------------------

// variables
$border-color-collapse-focus: $link-color !default;

$expandmore__button-padding: 0 1em !default;

$expand-symbol-size: .925em !default;
$expand-symbol-closed: '+' !default;
$expand-symbol-open: '\2212' !default;

$expand-symbol-position-v: top !default;
$expand-symbol-position-v-value: .25em !default;

$expand-symbol-position-h: left !default;
$expand-symbol-position-h-value: 0 !default;

$expandmore__to_expand-padding: 0 1.5em !default;

@import "style-collapse";

