@mixin debug-rhythm($line-height: 24) {
    background-image: linear-gradient(rgba(#b0e0e6, .5) 1px, transparent 1px);
    background-position: left top;
    background-size: $line-height * 1px $line-height * 1px;

    body {
        box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .3);
    }
}

// utilisation
// -----------
// body {
//    @include debug-rhythm(); // -> 24px
//   }
//
// ou
//
// body {
//    @include debug-rhythm(32); // -> 32px
// }
